@import '../../projects/x-controls/src/lib/theme/theming/theming';

@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  $layout-background-color: cil-color($background, background);
  $layout-foreground-color: cil-color($foreground, text, 0.95);

  .app-wrapper {
    background-color: x-color($primary);
  }
}
