<div class="app-select-wrapper flex-wrap col-flex wrap">
  <x-select [(ngModel)]="xSelectedItem" [xItems]="xItems" [xSettings]="xSettings" (onSelected)="onSelected($event)">
    <x-select-item>
      <ng-template let-item="item">
        {{ item.id + ' - ' + item.label }}
      </ng-template>
    </x-select-item>
  </x-select>

  <span *ngIf="xSelectedItem">{{ '已选：' + xSelectedItem.id + ' - ' + xSelectedItem.label }}</span>

  <br />
  <br />

  <x-select [(ngModel)]="xSelectedItem_m" [xItems]="xItems_m" [xSettings]="xSettings_m"
    (onSelected)="onSelected_m($event)">
    <x-select-item>
      <ng-template let-item="item">
        {{ item.id + ' - ' + item.label }}
      </ng-template>
    </x-select-item>
  </x-select>

  <span *ngIf="xSelectedItem_m && xSelectedItem_m.length > 0">{{ '已选：' }} <br />
    <span *ngFor="let item of xSelectedItem_m">
      {{ item.label }}
    </span>
  </span>
</div>
